<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container"> -->

<html lang="en">
<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fedzo </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="merge">
        <div class="sidebar">
            <div class="profile">
                <img src="/images/lll.jpg" alt="">
                <h2>Krishnaraj</h2>
                
                <p style="font-weight: bold;"><span class="icon"><i class="fas fa-circle" style="color: lightgreen;"></i></span> Active</p>
            </div>
            <ul>
                <li><a href="/home"class="hove">
                    <span class="icon"><i class="fas fa-book"></i></span>
                    <span class="items">Diary</span>
                </a></li>
                <li><a href="/memories">
                    <span class="icon"><i class="fas fa-baby"></i></span>
                    <span class="items">Memories</span>
                </a></li>
                <li><a href="/goals">
                    <span class="icon"><i class="fas fa-fire nav-icon"></i></span>
                    <span class="items">My Goals</span>
                </a></li>
                <li><a href="/logout">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="items">Logout</span>
                </a></li>
            </ul>
        </div>
        <div class="section">
            <div class="top-nav">
                <div class="hamburger">
                    <a href="#"><i class="fas fa-bars" style="color: orange;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var hamburger=document.querySelector(".hamburger");
        hamburger.addEventListener("click",function(){
        document.querySelector("body").classList.toggle("active");
        })
    </script>
    <script src="script.js"></script>
