
<%- include("partials/header"); -%>
<div class="content-safe">
    <h1>Compose</h1>
    <br><br>
    <form class="" action="/compose" method="post">
      <div class="">
        <label>Title</label>
        <input class="title-class" type="text" name="postTitle">
        <br><br>
        <label>Post</label>
        <br>
        <textarea class="txt-area" name="postBody" rows="20" cols="80"></textarea>
      </div>
      <br>
      <button class="btn-class" type="submit" name="button">Post</button>
    </form>
</div>

<%- include("partials/footer"); -%>
